		<!-- main (left side) -->		
		<div id="main">
			<h3>Acerca de...</h3>
			<p><strong>Somos dos jóvenes estudiantes de Ingeniería de Telecomunicación y este es nuestro proyecto.</strong></p>
			<p>To do...</p>
		</div>
		<!-- /main (left side) -->
		
		<!-- side -->
		<div id="side">
			<div class="boxtop">Arriba</div>
			<div class="boxmiddle">
				Medio
			</div>
			<div class="boxbottom">Bajo</div>
			
		</div>
		<!-- /side -->


