		<!-- main (left side) -->		
		<div id="main">
			<h3>Contacto</h3>
			<p>Estamos deseando contar con tu opinión y con tus sugerencias.</p>
			<p>Puedes contactar con nosotros a través de:</p>
			<p><strong>support@kukinet.com</strong></p>
			<p>Si quieres saber más sobre nosotros, consulta nuestra sección <%= link_to('Acerca de...', home_acercade_path) %></p>
		</div>
		<!-- /main (left side) -->
	

