<div id="pagina_ppal">
		
		<div id="busqueda_ppal">
			<%= form_tag(search_restaurantes_path, :method => "get") do %>
			<%= text_field_tag :q, nil, :placeholder => 'Busca tu restaurante', :size => 50, :class => "btn" %>
			<% end %>
		</div> 
		<div id="busqueda_secundaria">
			<%= link_to('Ver todos', restaurantes_path) %>		
		</div>
		
</div>
