		<!-- main (left side) -->		
		<div id="main">
			<h3>Incluir mi restaurante</h3>
			<p>Para ello debe contactar con nosotros en la siguiente dirección:</p>
			<p><strong>altas@kukinet.com</strong></p>
			<p>Nuestro equipo se pondrá en contacto para realizar los trámites necesarios.</p>
		</div>
		
		<!-- /main (left side) -->
	

