<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Menu del día</title>

  <%= stylesheet_link_tag    "main", :media => "all" %>
  <%= javascript_include_tag "jquery-1.7.2.min.js", "jquery.tools.js", "cufon-yui.js", "Titillium.font.js", "jquery.fancybox-1.3.2.pack.js", "pitch.js" %>
  <%= csrf_meta_tags %>
  
	<script type="text/javascript">
		Cufon.replace('h1,h2,h3,#menu li a');
	</script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() { anim(); $(".scrollable").scrollable({ }); });
	</script>
	<!--<script type="text/javascript" src="js/jquery.fancybox-1.3.2.pack.js"></script>-->
	<script type="text/javascript">
		$(document).ready(function() {
			$(".items a").fancybox({
				'titlePosition'		: 'inside',
				'overlayColor'		: '#000',
				'overlayOpacity'	: 0.9
			});
		});
	</script>
<!--	<script type="text/javascript" src="js/pitch.js"></script>-->
	<script type="text/javascript">
		/* 
		
		COUNTDOWN
		-------------------------------------------------------------------
		replace UTC with your time zone (eg. UTC+01 for Paris)
		list of time zone codes: http://en.wikipedia.org/wiki/Time_zone#UTC
		
		*/
		Counter(new Date("Oct 20 2012 12:00:00 UTC"));
		var done_message = "¡Ya disponible!";
	</script>

	<!--<link rel="stylesheet" href="images/fancybox/jquery.fancybox-1.3.2.css" type="text/css" media="screen" />-->
</head>
<body>

	<div id="content">
	
		<!-- top -->
		<div id="top">
			<h1 id="logo"><a href="#">Menu <span>del dia</span></a></h1>
			<ul id="menu">
				<li><a class="current" href="#">Inicio</a></li>
				<li><a href="#">Acerca de...</a></li>
				<li><a href="#">Incluir mi restaurante</a></li>
				<li><a href="#">Contacto</a></li>
			</ul>
		</div>
		<!-- /top -->
		
		<!-- pitch -->
		<div id="pitch">
			<h2 id="hello">Te ayudamos a ahorrar y a elegir tu restaurante</h2>
			<p id="countdown">¡Ya disponible!</p>
		</div>
		<!-- /pitch -->


		<%= yield %>

		<!-- footer -->
		<div id="footer">
			<p>&copy; 2012 <a href="#">Menú del día</a> &middot; Todos los derechos reservados &middot; <a title="Awesome Web Templates" href="http://www.solucija.com/">Solucija</a></p>
		</div>
		<!-- /footer -->

	</div>
	
</body>
</html>